main h2 {
    text-align: center;
    margin-bottom: 1rem;
}

#visit-message {
    background-color: var(--accent-color);
    color: var(--white);
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 8px;
    font-weight: bold;
}

#discover-cards {
    display: grid;
    grid-template-areas:
        "card1"
        "card2"
        "card3"
        "card4"
        "card5"
        "card6"
        "card7"
        "card8";
    gap: 1rem;
}

.card1 {
    grid-area: card1;
}

.card2 {
    grid-area: card2;
}

.card3 {
    grid-area: card3;
}

.card4 {
    grid-area: card4;
}

.card5 {
    grid-area: card5;
}

.card6 {
    grid-area: card6;
}

.card7 {
    grid-area: card7;
}

.card8 {
    grid-area: card8;
}

.card h2 {
    color: var(--primary-color);
    margin-bottom: 0.75rem;
}

.card figure {
    margin: 0;
}

.card img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 0 auto;
    border-radius: 8px;
}

.card address {
    margin: 1rem 0;
    font-style: normal;
    font-weight: bold;
    color: var(--secondary-color);
}

.card p {
    margin-bottom: 1rem;
}

.card button {
    margin-top: auto;
    background-color: var(--primary-color);
    color: var(--white);
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
}

.card button:hover {
    background-color: var(--accent-color);
}


@media only screen and (min-width: 641px) {

    #discover-cards {
        grid-template-areas:
            "card1 card2"
            "card3 card4"
            "card5 card6"
            "card7 card8";

        grid-template-columns: 1fr 1fr;
        align-items: start;
    }

    .card img {
        transition: transform 0.3s ease,
            filter 0.3s ease,
            box-shadow 0.3s ease;
    }

    .card img:hover {
        transform: scale(1.05);
        filter: brightness(110%);
        box-shadow: 0 0 12px var(--hover-shadow);
    }

}

@media only screen and (min-width: 1025px) {

    #discover-cards {
        grid-template-areas:
            "card1 card2 card3 card4"
            "card5 card6 card7 card8";
        grid-template-columns: repeat(4, 1fr);
    }

}