body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #003049;
    color: white;
    padding: 1rem;
}

main {
    margin: 2rem;
}

figure {
    margin: 1rem auto;
}

img {
    width: 100px;
}

footer {
    background-color: #003049;
    color: white;
    padding: 1rem;
}